* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}





/* DEBUG */
.container-nav {
    background-color: aqua;
    vertical-align: 40px;
}